*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    /* background: linear-gradient(to right, #595857 0%, #928880 25%, rgb(30, 29, 29) 50%, black 100%); */
    font-family: 'ZCOOL XiaoWei', serif;
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250vh;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    background-color: black;
    height: 8vh;
    position: fixed;
    width: 100%;
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom: 2px solid #ffdb58;
}

.heading {
    text-transform: capitalize;
    color: whitesmoke;
    display: flex;
    padding-left: 250px;
   
}

.heading h1{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 30px;
    color: #ffdb58;
    letter-spacing: 1px;
}
.nav-list {
    display: flex;
    letter-spacing: 1px;
    font-weight: bold;
    margin-right: 250px;
}

.nav-list > li{
    width: 50%;
    list-style: none;
    padding: 10px;
    font-size: 20px;
}

.nav-list a{
    text-decoration: none;
    color: whitesmoke;
}

.nav-list a:hover{
    color: #ffdb58;
}

.nav-list a:active {
    color: #273333;
}

/* MAIN SECTION */
#main {
    /* background-image: url(../images/bg1.jpg); */
    background-size: cover;
    width: 100%;
    height:65vh;
    padding-top: 150px;
}

#main > h2{
    color: #ffdb58;
    text-align: center;
    text-shadow: #273333;
    font-weight: bolder;
    font-size: 30px;
}

#main > .maintxt {
    display: flex;
}

#main > .maintxt img{
    border-radius: 75px;
    margin-left: 300px;
    border: 3px solid #ffdb58;
    box-shadow: inset -3px -3px -3px rgba(255, 255, 255, 0.2);

}


#main > .maintxt p{
    color: whitesmoke;
    align-items: center;
    line-height: 40px;
    font-size: 25px;
    text-align: justify;
    padding-top: 50px;
    padding-left: 150px;
}

#main > .maintxt p .mustard{
    color: #ffdb58;
    font-weight: bolder;
    letter-spacing: 1px;
}

/* MY SOCIALS */
#footer {
    /* background-image: url(../images/bg1.jpg); */
    background-size: cover;
    width: 100%;
    height:55vh;
    padding-top: 150px;
}

#footer h2{
    color: #ffdb58;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

#footer > .contactainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 55vh;
}

#footer > .contactainer ul{
    position: absolute;
    display: flex;
}

#footer > .contactainer ul li{
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
    
}

#footer > .contactainer ul li a{
    text-decoration: none;
}

#footer > .contactainer ul li a .fa{
    font-size:  3em;
    color: #222;
}

#footer > .contactainer ul li::before{
    font-family: fontAwesome;
    position: absolute;
    font-size: 3em;
    height: 0;
    overflow: hidden;
    transition: 1s ease-in-out ;
}

#footer > .contactainer ul li:nth-child(1):before{
    content: '\f099';
    color: #00ACEE;
    border-bottom: 5px solid #00acee;
}

#footer > .contactainer ul li:hover::before{
     height: 100%;
}

#footer > .contactainer ul li:nth-child(2):before{
    content: '\f16d';
    color: #bc2a8d;
    border-bottom: 5px solid #e95950;
}

#footer > .contactainer ul li:hover::before{
     height: 100%;
}


#footer > .contactainer ul li:nth-child(3):before{
    content: '\f0e1';
    color: #0072b1;
    border-bottom: 5px solid #0072b1;
}

#footer > .contactainer ul li:hover::before{
    height: 100%;
}

#footer > .contactainer ul li:nth-child(4):before{
    content: '\f09b';
    color: whitesmoke;
    border-bottom: 5px solid whitesmoke;
}

#footer > .contactainer ul li:hover::before{
     height: 100%;
}

#footer > .contactainer ul li:nth-child(5):before{
    content: '\f09a';
    color: #3b5998;
    border-bottom: 5px solid #3b5998;
}

#footer > .contactainer ul li:hover::before{
     height: 100%;
}